@using EntityLayer.Entities
@model List<Appointment>
@{
    ViewData["Title"] = "GetDoctorsAppointments";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h1>Randevularım</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hasta Adı</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
       

        <tr>
            <td>@item.Id</td>
            <td>@item.Patient.Name</td>
            <td>@item.Date</td>
            <td>@item.Hour</td>
            <td><a class="btn btn-outline-primary" href="/DoctorPanel/UpdateAppointment/@item.Id">Güncelle</a></td>
           
        </tr>
    }

</table>

