
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<h1></h1>



<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Set the container height to the full viewport height */
    }

    .blurry-image {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="container">
    <div class="blurry-image">
        <img src="~/Image/EQeozGSWoAAVawz.jpg" alt="Bulanık Resim">
    </div>
</div>


