


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Randevu Sistemi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/MainPage/Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Doctors/Index">Doktorlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Branches/Index">Hastane Bölümleri</a>
                    </li>
                   
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                Giriş Yap
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/MainPage/LogIn">Hasta Girişi</a></li>
                                <li><a class="dropdown-item" href="/MainPage/DoctorLogIn">Doktor Girişi</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/MainPage/AdminLogIn">Admin Girişi</a></li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="/MainPage/Register">Kayıt Ol</a>
                        </li>
                        
                    </ul>
                </div>

                 
            </div>
        </div>
    </nav>
    <div class="ms-2 mb-2">
        @RenderBody()
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>
