@using EntityLayer.Entities
@model Doctor




@{
    ViewData["Title"] = "Logging";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">

        <h2 class="fw-bold mb-2 ">Yanlış Mail ya da Şifre Girdiniz</h2>

    </div>
}


<section class="vh-100 gradient-custom">
    <form method="post">
        <div class="container py-5 h-90">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 ">GİRİŞ</h2>
                                <p class="text-white-50 mb-5">Lütfen Mail ve Şifrenizi Giriniz!</p>

                                <div class="form-outline form-white mb-4">
                                    <input id="typeEmailX" name="Mail" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" name="Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Şifre</label>
                                </div>

                                

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Giriş Yap</button>

                                

                            </div>

                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

